
.vs/ParkingMangement - SyncData/v16/.suo
.vs/ParkingMangement - SyncData/v16/Server/sqlite3/db.lock
.vs/ParkingMangement - SyncData/v16/Server/sqlite3/storage.ide
.vs/ParkingMangement - SyncData/v16/Server/sqlite3/storage.ide-shm
.vs/ParkingMangement - SyncData/v16/Server/sqlite3/storage.ide-wal
.vs/ParkingMangement/v15/.suo
.vs/ParkingMangement/v15/Server/sqlite3/db.lock
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide-shm
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide-wal
.vs/ParkingMangement/v15/.suo
.vs/ParkingMangement/v15/Server/sqlite3/db.lock
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide-shm
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide-wal
ParkingMangement/obj/Debug/ParkingMangement.pdb
*.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/ParkingMangement.exe
*.cache
ParkingMangement/bin/Debug/ParkingMangement.exe
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csprojAssemblyReference.cache
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/ParkingMangement.exe
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csprojAssemblyReference.cache
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/ParkingMangement.exe
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csproj.GenerateResource.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csprojAssemblyReference.cache
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csproj.GenerateResource.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csprojAssemblyReference.cache
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/ParkingMangement.exe
ParkingMangement/bin/avcodec-57.dll
ParkingMangement/bin/cvextern.dll
ParkingMangement/bin/Debug/audio/expired.wav
ParkingMangement/bin/Debug/audio/locked.wav
ParkingMangement/bin/Debug/audio/notused.wav
ParkingMangement/bin/Debug/audio/tobeexpired.wav
ParkingMangement/bin/Debug/avcodec-57.dll
ParkingMangement/bin/Debug/avfilter-6.dll
ParkingMangement/bin/Debug/avformat-57.dll
ParkingMangement/bin/Debug/avutil-55.dll
ParkingMangement/bin/Debug/AxInterop.WMPLib.dll
ParkingMangement/bin/Debug/cameras.config
ParkingMangement/bin/Debug/cameras.config1
ParkingMangement/bin/Debug/cvextern.dll
ParkingMangement/bin/Debug/Interop.WMPLib.dll
ParkingMangement/bin/Debug/license/key_plate_number.xml
ParkingMangement/bin/Debug/native.zip
ParkingMangement/bin/Debug/native/x64/concrt140.dll
ParkingMangement/bin/Debug/native/x64/cudart64_101.dll
ParkingMangement/bin/Debug/native/x64/kdispatcher.dll
ParkingMangement/bin/Debug/native/x64/msvcp140.dll
ParkingMangement/bin/Debug/native/x64/msvcp140_1.dll
ParkingMangement/bin/Debug/native/x64/msvcp140_2.dll
ParkingMangement/bin/Debug/native/x64/msvcp140_atomic_wait.dll
ParkingMangement/bin/Debug/native/x64/msvcp140_codecvt_ids.dll
ParkingMangement/bin/Debug/native/x64/opencv_core971.dll
ParkingMangement/bin/Debug/native/x64/opencv_imgcodecs971.dll
ParkingMangement/bin/Debug/native/x64/opencv_imgproc971.dll
ParkingMangement/bin/Debug/native/x64/SimpleLPR3_native.dll
ParkingMangement/bin/Debug/native/x64/tbb.dll
ParkingMangement/bin/Debug/native/x64/tbbmalloc.dll
ParkingMangement/bin/Debug/native/x64/tbbmalloc_proxy.dll
ParkingMangement/bin/Debug/native/x64/vccorlib140.dll
ParkingMangement/bin/Debug/native/x64/vcomp140.dll
ParkingMangement/bin/Debug/native/x64/vcruntime140.dll
ParkingMangement/bin/Debug/native/x64/vcruntime140_1.dll
ParkingMangement/bin/Debug/native/x86/concrt140.dll
ParkingMangement/bin/Debug/native/x86/cudart32_101.dll
ParkingMangement/bin/Debug/native/x86/kdispatcher.dll
ParkingMangement/bin/Debug/native/x86/msvcp140.dll
ParkingMangement/bin/Debug/native/x86/msvcp140_1.dll
ParkingMangement/bin/Debug/native/x86/msvcp140_2.dll
ParkingMangement/bin/Debug/native/x86/msvcp140_atomic_wait.dll
ParkingMangement/bin/Debug/native/x86/msvcp140_codecvt_ids.dll
ParkingMangement/bin/Debug/native/x86/opencv_core971.dll
ParkingMangement/bin/Debug/native/x86/opencv_imgcodecs971.dll
ParkingMangement/bin/Debug/native/x86/opencv_imgproc971.dll
ParkingMangement/bin/Debug/native/x86/SimpleLPR3_native.dll
ParkingMangement/bin/Debug/native/x86/tbb.dll
ParkingMangement/bin/Debug/native/x86/tbbmalloc.dll
ParkingMangement/bin/Debug/native/x86/tbbmalloc_proxy.dll
ParkingMangement/bin/Debug/native/x86/vccorlib140.dll
ParkingMangement/bin/Debug/native/x86/vcomp140.dll
ParkingMangement/bin/Debug/native/x86/vcruntime140.dll
ParkingMangement/bin/Debug/opencv_ffmpeg310.dll
ParkingMangement/bin/Debug/opencv_videoio_ffmpeg420.dll
ParkingMangement/bin/Debug/ParkingMangement.exe
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/SimpleLPR3.dll
ParkingMangement/bin/Debug/swresample-2.dll
ParkingMangement/bin/Debug/swscale-4.dll
ParkingMangement/bin/opencv_ffmpeg310.dll
ParkingMangement/bin/opencv_videoio_ffmpeg420.dll
ParkingMangement/bin/x64/cvextern.dll
ParkingMangement/bin/x64/opencv_ffmpeg310_64.dll
ParkingMangement/bin/x86/cvextern.dll
ParkingMangement/bin/x86/opencv_ffmpeg310.dll
ParkingMangement/obj/Debug/AxInterop.WMPLib.dll
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ParkingMangement/obj/Debug/Interop.AXVLC.dll
ParkingMangement/obj/Debug/Interop.WMPLib.dll
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csproj.FileListAbsolute.txt
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csproj.GenerateResource.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csproj.ResolveComReference.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csprojAssemblyReference.cache
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/ParkingMangement.GUI.FormNhanVien.resources
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/ParkingMangement - SyncData.csproj
