
.vs/ParkingMangement - SyncData/v16/.suo
.vs/ParkingMangement - SyncData/v16/Server/sqlite3/db.lock
.vs/ParkingMangement - SyncData/v16/Server/sqlite3/storage.ide
.vs/ParkingMangement - SyncData/v16/Server/sqlite3/storage.ide-shm
.vs/ParkingMangement - SyncData/v16/Server/sqlite3/storage.ide-wal
.vs/ParkingMangement/v15/.suo
.vs/ParkingMangement/v15/Server/sqlite3/db.lock
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide-shm
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide-wal
.vs/ParkingMangement/v15/.suo
.vs/ParkingMangement/v15/Server/sqlite3/db.lock
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide-shm
.vs/ParkingMangement/v15/Server/sqlite3/storage.ide-wal
ParkingMangement/obj/Debug/ParkingMangement.pdb
*.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/ParkingMangement.exe
*.cache
ParkingMangement/bin/Debug/ParkingMangement.exe
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csprojAssemblyReference.cache
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/ParkingMangement.exe
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csprojAssemblyReference.cache
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
ParkingMangement/bin/Debug/ParkingMangement.exe
ParkingMangement/bin/Debug/ParkingMangement.pdb
ParkingMangement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csproj.GenerateResource.cache
ParkingMangement/obj/Debug/ParkingMangement - SyncData.csprojAssemblyReference.cache
ParkingMangement/obj/Debug/ParkingMangement.exe
ParkingMangement/obj/Debug/ParkingMangement.pdb
